.partners .btn button, .founder-block .pattern button, .video-block .wrapper button, .business-block-advantages .flex-wrapper__item button, .first-block button, .menu button {
  color: #171717;
  background-color: #fcee21;
  height: 40px;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

body {
  font-family: "FuturaPT-book", sans-serif;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  z-index: 10;
  padding: 20px 0;
  top: 0;
}
.menu img {
  width: 250px;
  margin-left: 35px;
}
.menu img a {
  text-decoration: none;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -50px;
}
.menu-list__item {
  margin: 0 20px;
  color: #141414;
  font-size: 19px;
  font-weight: 600;
}
.menu button {
  font-weight: bold;
  border: none;
  margin-right: 35px;
}

.first-block {
  overflow-x: hidden;
  background-image: url("../img/first block/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 70%;
  display: flex;
  margin-top: 100px;
}
.first-block-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.first-block__marketing img {
  width: 20px;
  height: 20px;
}
.first-block__marketing h2 {
  color: #1bcf7b;
  font-size: 46px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.1;
  margin-bottom: 0;
}
.first-block__marketing .price {
  margin-top: 15px;
  color: #000000;
  font-size: 23px;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: 700;
}
.first-block__marketing .price .green {
  color: #1bcf7b;
  font-weight: 700;
}
.first-block__marketing .flex {
  margin-top: 30px;
}
.first-block__marketing .flex-list {
  vertical-align: center;
  margin-top: 20px;
}
.first-block__marketing .flex-list__text {
  color: #000000;
  font-size: 18px;
  font-family: "FuturaPT-book", sans-serif;
  line-height: 1.15;
  font-weight: 400;
  display: inline-block;
}
.first-block__marketing .flex-list img {
  margin-right: 8px;
  display: inline-block;
}
.first-block button {
  margin-top: 30px;
  color: #121212;
  font-size: 18px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.45;
  font-weight: 600;
  border-radius: 100px;
  background-color: #fcee21;
  border-color: transparent;
  width: 280px;
  height: 75px;
  transition-duration: 1s;
}
.first-block button:hover {
  background-color: #d6ba2f;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.first-block__img img {
  width: 800px;
  height: 600px;
}

.business-block {
  background-image: url("../img/second block/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 1%;
}
.business-block-advantages {
  padding-top: 120px;
  text-align: center;
}
.business-block-advantages h2 {
  margin-top: 0;
  color: #000000;
  font-size: 44px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;
}
.business-block-advantages .subtitle {
  margin-top: 50px;
  color: #000000;
  font-size: 22px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;
}
.business-block-advantages .flex-wrapper {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-align: start;
}
.business-block-advantages .flex-wrapper__item {
  width: 400px;
}
.business-block-advantages .flex-wrapper__item img {
  width: 55px;
  height: 55px;
}
.business-block-advantages .flex-wrapper__item h3 {
  color: #000000;
  font-size: 23px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  margin-top: 40px;
}
.business-block-advantages .flex-wrapper__item .descr {
  color: #000000;
  font-size: 18px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}
.business-block-advantages .flex-wrapper__item button {
  width: 270px;
  height: 60px;
  border-radius: 100px;
}
.business-block-advantages .second-row {
  margin-top: 80px;
}

.third-block {
  margin-top: 190px;
}

.pattern span {
  color: #1bcf7b;
}
.pattern .main-title {
  text-align: center;
  font-size: 46px;
  font-family: "FuturaPT";
  font-weight: 600;
  color: #000;
  line-height: 1.23;
}
.pattern .main-flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pattern .main-flex-wrapper__item img {
  width: 470px;
  height: 340px;
}
.pattern .main-flex-wrapper__item h3 {
  font-weight: 600;
  color: #000;
  line-height: 1.35;
  font-size: 30px;
  font-family: "FuturaPT";
  margin-bottom: 0;
  margin-top: 20px;
}
.pattern .main-flex-wrapper__item ul {
  margin-top: 30px;
  padding: 0;
}
.pattern .main-flex-wrapper__item ul li {
  font-weight: 300;
  color: #000;
  line-height: 1.55;
  font-size: 20px;
  font-family: "FuturaPT";
  margin-top: 5px;
}

.video-block {
  background-color: #4CF2A2;
  padding: 120px 0;
}
.video-block .wrapper {
  text-align: center;
}
.video-block .wrapper h3 {
  font-size: 52px;
  font-family: FuturaPT;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
  margin-top: 0;
}
.video-block .wrapper .subtitle {
  font-weight: 700;
  font-size: 23px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 55px;
}
.video-block .wrapper button {
  display: block;
  margin: 55px auto 0 auto;
  font-size: 16px;
  height: 60px;
  border-radius: 40px;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 800;
  font-family: "FuturaPT";
}

.founder-block {
  margin-top: 120px;
}
.founder-block .pattern .main-flex-wrapper {
  margin-top: 80px;
}
.founder-block .pattern h2 {
  font-size: 52px;
  font-family: "FuturaPT";
  line-height: 1.23;
  font-weight: 700;
}
.founder-block .pattern img {
  width: 470px;
  height: 470px;
}
.founder-block .pattern button {
  text-align: start;
  margin-left: -20px;
}

.accordion-block {
  margin-top: 140px;
  margin-bottom: 100px;
}
.accordion-block h2 {
  text-align: center;
  margin-bottom: 80px;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 1.23;
}
.accordion-block .accordion-wrapper .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-block .accordion-wrapper .wrapper .town {
  margin-left: 20px;
  font-size: 24px;
  line-height: 1.35;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: bold;
  color: #000;
}
.accordion-block .accordion-wrapper .wrapper .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1bcf7b;
  position: relative;
}
.accordion-block .accordion-wrapper .wrapper .circle .active {
  color: #fcee21;
}
.accordion-block .accordion-wrapper .accordion-section {
  margin-top: 3px;
}
.accordion-block .accordion-wrapper .accordion-section .accordion-header {
  cursor: pointer;
  height: 80px;
  background-color: #f2f2f2;
}
.accordion-block .accordion-wrapper .accordion-section .accordion-header:hover {
  background-color: #cbc9c9;
  transition: all 500ms ease;
}
.accordion-block .accordion-wrapper .accordion-section .accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease 0.4s;
  transition-delay: 0s;
  background-color: #f2f2f2;
}
.accordion-block .accordion-wrapper .accordion-section .accordion-body ul li {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.55;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.partners {
  padding: 100px 0;
}
.partners .title {
  text-align: center;
}
.partners .title h2 {
  margin-bottom: 125px;
  font-size: 52px;
  font-family: "FuturaPT";
  font-weight: 600;
  color: #000;
  line-height: 1.23;
}
.partners .title h2 span {
  color: #1bcf7b;
}
.partners-flex__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.partners-flex__wrapper .flex__item {
  width: 350px;
  height: 170px;
  text-align: center;
}
.partners-flex__wrapper .flex__item img {
  max-width: 350px;
  max-height: 140px;
}
.partners .btn {
  text-align: center;
}
.partners .btn button {
  padding: 0 60px;
  border-radius: 30px;
  height: 60px;
}

.footer {
  background-color: #01F2A1;
  padding: 20px 0;
}
.footer .flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .flex-wrapper__item .logo img {
  width: 230px;
  height: 50px;
}
.footer .flex-wrapper__item .contacts-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer .flex-wrapper__item .contacts-flex__item {
  color: #000000;
  font-size: 14px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
}
.footer .flex-wrapper__item .contacts-flex a {
  text-decoration: underline;
  color: #ff8562;
}
.footer .flex-wrapper__item .contacts-flex a .orange {
  color: #ff8562;
}
.footer .flex-wrapper__item .instagram-block {
  display: flex;
}
.footer .flex-wrapper__item .instagram-block img {
  width: 25px;
  height: 25px;
}
.footer .flex-wrapper__item .instagram-block .text {
  color: #000000;
  font-size: 16px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
}