.partners .btn button, .Hohoro-info-block .instruction .btn button, .garants-block .main-block .main-content .btn button, .history-block button, .founder-block .pattern button, .video-block .wrapper button, .business-block-advantages .flex-wrapper__item button, .first-block button, .menu button {
  color: #171717;
  background-color: #fcee21;
  height: 40px;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.price-info-block .flex-wrapper__item .list .gray:before {
  background-color: #bdbdbd;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 13px;
}

.price-info-block .flex-wrapper__item .list .green:before {
  background-color: #4cf2a2;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 13px;
}

.price-info-block .flex-wrapper__item .list .yellow:before {
  background-color: #fcee21;
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-right: 13px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

body {
  font-family: "FuturaPT-book", sans-serif;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  background-color: white;
  z-index: 10;
  padding: 20px 0;
  top: 0;
}
.menu img {
  width: 250px;
  margin-left: 35px;
}
.menu img a {
  text-decoration: none;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -50px;
}
.menu-list__item {
  margin: 0 20px;
  color: #141414;
  font-size: 19px;
  font-weight: 600;
}
.menu button {
  font-weight: bold;
  border: none;
  margin-right: 35px;
}

.first-block {
  overflow-x: hidden;
  background-image: url("../img/first block/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 70%;
  display: flex;
  margin-top: 100px;
}
.first-block-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.first-block__marketing img {
  width: 20px;
  height: 20px;
}
.first-block__marketing h2 {
  color: #1bcf7b;
  font-size: 46px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.1;
  margin-bottom: 0;
}
.first-block__marketing .price {
  margin-top: 15px;
  color: #000000;
  font-size: 23px;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: 700;
}
.first-block__marketing .price .green {
  color: #1bcf7b;
  font-weight: 700;
}
.first-block__marketing .flex {
  margin-top: 30px;
}
.first-block__marketing .flex-list {
  vertical-align: center;
  margin-top: 20px;
}
.first-block__marketing .flex-list__text {
  color: #000000;
  font-size: 18px;
  font-family: "FuturaPT-book", sans-serif;
  line-height: 1.15;
  font-weight: 400;
  display: inline-block;
}
.first-block__marketing .flex-list img {
  margin-right: 8px;
  display: inline-block;
}
.first-block button {
  margin-top: 30px;
  color: #121212;
  font-size: 18px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.45;
  font-weight: 600;
  border-radius: 100px;
  background-color: #fcee21;
  border-color: transparent;
  width: 280px;
  height: 75px;
  transition-duration: 1s;
}
.first-block button:hover {
  background-color: #d6ba2f;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.first-block__img img {
  width: 800px;
  height: 600px;
}

.business-block {
  background-image: url("../img/second block/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 1%;
}
.business-block-advantages {
  padding-top: 120px;
  text-align: center;
}
.business-block-advantages h2 {
  margin-top: 0;
  color: #000000;
  font-size: 44px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;
}
.business-block-advantages .subtitle {
  margin-top: 50px;
  color: #000000;
  font-size: 22px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;
}
.business-block-advantages .flex-wrapper {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-align: start;
}
.business-block-advantages .flex-wrapper__item {
  width: 400px;
}
.business-block-advantages .flex-wrapper__item img {
  width: 55px;
  height: 55px;
}
.business-block-advantages .flex-wrapper__item h3 {
  color: #000000;
  font-size: 23px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  margin-top: 40px;
}
.business-block-advantages .flex-wrapper__item .descr {
  color: #000000;
  font-size: 18px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}
.business-block-advantages .flex-wrapper__item button {
  width: 270px;
  height: 60px;
  border-radius: 100px;
}
.business-block-advantages .second-row {
  margin-top: 80px;
}

.third-block {
  margin-top: 190px;
}

.pattern {
  margin-bottom: 100px;
}
.pattern span {
  color: #1bcf7b;
}
.pattern .main-title {
  text-align: center;
  font-size: 46px;
  font-family: "FuturaPT";
  font-weight: 600;
  color: #000;
  line-height: 1.23;
}
.pattern .main-flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pattern .main-flex-wrapper__item img {
  width: 470px;
  height: 340px;
}
.pattern .main-flex-wrapper__item h3 {
  font-weight: 600;
  color: #000;
  line-height: 1.35;
  font-size: 30px;
  font-family: "FuturaPT";
  margin-bottom: 0;
  margin-top: 20px;
}
.pattern .main-flex-wrapper__item ul {
  margin-top: 30px;
  padding: 0;
}
.pattern .main-flex-wrapper__item ul li {
  font-weight: 300;
  color: #000;
  line-height: 1.55;
  font-size: 20px;
  font-family: "FuturaPT";
  margin-top: 5px;
}

.video-block {
  background-color: #4CF2A2;
  padding: 120px 0;
}
.video-block .wrapper {
  text-align: center;
}
.video-block .wrapper h3 {
  font-size: 52px;
  font-family: FuturaPT;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
  margin-top: 0;
}
.video-block .wrapper .subtitle {
  font-weight: 700;
  font-size: 23px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 55px;
}
.video-block .wrapper button {
  display: block;
  margin: 55px auto 0 auto;
  font-size: 16px;
  height: 60px;
  border-radius: 40px;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 800;
  font-family: "FuturaPT";
}

.founder-block {
  margin-top: 120px;
}
.founder-block .pattern .main-flex-wrapper {
  margin-top: 80px;
}
.founder-block .pattern h2 {
  font-size: 52px;
  font-family: "FuturaPT";
  line-height: 1.23;
  font-weight: 700;
}
.founder-block .pattern img {
  width: 470px;
  height: 470px;
}
.founder-block .pattern button {
  text-align: start;
  margin-left: -20px;
}

.accordion-block {
  margin-top: 140px;
  margin-bottom: 100px;
}
.accordion-block h2 {
  text-align: center;
  margin-bottom: 80px;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: 600;
  color: #000;
  line-height: 1.23;
}
.accordion-block .accordion-wrapper .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-block .accordion-wrapper .wrapper .town {
  margin-left: 20px;
  font-size: 24px;
  line-height: 1.35;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: bold;
  color: #000;
}
.accordion-block .accordion-wrapper .wrapper .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1bcf7b;
  position: relative;
}
.accordion-block .accordion-wrapper .wrapper .circle .active {
  color: #fcee21;
}
.accordion-block .accordion-wrapper .accordion-section {
  margin-top: 3px;
}
.accordion-block .accordion-wrapper .accordion-section .accordion-header {
  cursor: pointer;
  height: 80px;
  background-color: #f2f2f2;
}
.accordion-block .accordion-wrapper .accordion-section .accordion-header:hover {
  background-color: #cbc9c9;
  transition: all 500ms ease;
}
.accordion-block .accordion-wrapper .accordion-section .accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease 0.4s;
  transition-delay: 0s;
  background-color: #f2f2f2;
}
.accordion-block .accordion-wrapper .accordion-section .accordion-body ul li {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.55;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.help-start-block {
  background-color: #F0F0F0;
  padding: 80px 0;
}
.help-start-block .title h2 {
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.help-start-block .title h2 span {
  color: #4cf2a2;
}
.help-start-block .flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.help-start-block .flex-wrapper__item {
  margin-top: 60px;
  text-align: start;
  flex: 0 0 50%;
}
.help-start-block .flex-wrapper__item img {
  width: 55px;
  height: 55px;
}
.help-start-block .flex-wrapper__item h3 {
  font-size: 23px;
  font-family: "FuturaPT";
  line-height: 1.35;
  font-weight: 600;
  color: #000;
}
.help-start-block .flex-wrapper__item .text {
  font-size: 16px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 300;
  color: #000;
}

.coffee-machines-block {
  padding: 70px 0;
  background-color: #4CF2A2;
}
.coffee-machines-block .title h2 {
  color: #000000;
  font-size: 46px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  text-align: center;
}
.coffee-machines-block .flex-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.coffee-machines-block .flex-wrapper__item {
  width: 300px;
}
.coffee-machines-block .flex-wrapper__item .text {
  margin-top: 30px;
  color: #000000;
  font-size: 20px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}
.coffee-machines-block .flex-wrapper__item span {
  font-weight: 700;
}
.coffee-machines-block .flex-wrapper__item img {
  width: 230px;
  height: 400px;
  text-align: center;
}

.location-help-block {
  padding: 120px 0;
}
.location-help-block .title h3 {
  color: #000000;
  font-size: 46px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.location-help-block .title h3 span {
  color: #4cf2a2;
}
.location-help-block .subtitle {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "FuturaPT";
  text-align: center;
  margin-top: 40px;
}
.location-help-block .flex-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.location-help-block .flex-wrapper__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.location-help-block .flex-wrapper__item img {
  width: 100px;
  height: 100px;
  text-align: center;
}
.location-help-block .flex-wrapper__item .subtext {
  margin-top: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "FuturaPT";
  line-height: 1.35;
}

.slider-block {
  margin-bottom: 120px;
  margin-top: 150px;
  max-width: 100%;
  position: relative;
}
.slider-block .title {
  margin-bottom: 190px;
}
.slider-block .title h3 {
  color: #000000;
  font-size: 46px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.slider-block .title h3 span {
  color: #4cf2a2;
}
.slider-block .slideshow-container {
  left: 5%;
  max-width: 980px;
  margin: 0 auto;
}
.slider-block img {
  width: 907px;
  height: 540px;
}
.slider-block .slideshow-container {
  position: relative;
}
.slider-block .prev {
  left: -7%;
  position: absolute;
  top: 50%;
  width: auto;
  font-size: 25px;
  transition: 0.6s ease;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #4cf2a2;
  border-radius: 50%;
}
.slider-block .prev:hover {
  background-color: #fdfd02;
  transition: background-color 0.4s ease;
}
.slider-block .arrow {
  position: absolute;
  width: auto;
  width: 11px;
  height: 11px;
  cursor: pointer;
  top: 15%;
  left: 30%;
}
.slider-block .arrow2 {
  position: absolute;
  width: auto;
  width: 11px;
  height: 11px;
  cursor: pointer;
  top: 15%;
  left: 35%;
}
.slider-block .next {
  right: 8%;
  position: absolute;
  top: 50%;
  width: auto;
  font-size: 25px;
  transition: 0.6s ease;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #4cf2a2;
  border-radius: 50%;
}
.slider-block .next:hover {
  background-color: #fdfd02;
  transition: background-color 0.4s ease;
}
.slider-block .dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slider-block .dot:hover {
  background-color: #717171;
}
.slider-block .active {
  background-color: #717171;
}

.history-block {
  background-image: url("../img/bgHistory.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 33%;
  padding: 50px 0;
}
.history-block .title {
  text-align: center;
}
.history-block .title h3 {
  margin-bottom: 125px;
  font-size: 52px;
  font-family: "FuturaPT";
  font-weight: 600;
  color: #000;
  line-height: 1.23;
}
.history-block .title h3 span {
  color: #1bcf7b;
}
.history-block .flex-wrapper {
  display: flex;
  justify-content: space-around;
}
.history-block button {
  display: block;
  margin: 70px auto 0 auto;
  font-size: 16px;
  height: 60px;
  border-radius: 40px;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: 800;
  font-family: "FuturaPT";
  width: 250px;
}

.facts-block {
  padding: 35px 0;
}
.facts-block .title h3 {
  color: #000000;
  font-size: 46px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.facts-block .title h3 span {
  color: #4cf2a2;
}
.facts-block .flex-wrapper {
  max-width: 680px;
  margin: 0 auto;
}
.facts-block .flex-wrapper__item {
  display: flex;
  margin-top: 20px;
}
.facts-block .flex-wrapper__item img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.facts-block .flex-wrapper__item .text {
  color: #000000;
  font-size: 20px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 400;
}

.garants-block {
  padding-top: 320px;
  padding-bottom: 350px;
  background-image: url("../img/backGRound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  height: 100%;
  width: 100%;
}
.garants-block .main-block {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: start;
}
.garants-block .main-block .main-content .title h3 {
  font-size: 51px;
  font-family: "FuturaPT";
  font-weight: 600;
  color: #000;
  line-height: 1.23;
}
.garants-block .main-block .main-content .text {
  color: #000000;
  font-size: 20px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 500;
}
.garants-block .main-block .main-content .btn button {
  margin-top: 45px;
  width: 260px;
  height: 55px;
}
.garants-block .main-block .img {
  display: flex;
}
.garants-block .main-block .img .img1 {
  margin-right: 70px;
}
.garants-block .main-block .img .img1 img {
  width: 250px;
  height: 370px;
}
.garants-block .main-block .img .img2 img {
  width: 230px;
  height: 430px;
}

.proff-escord-block {
  padding: 100px 0;
}
.proff-escord-block .title h3 {
  color: #000000;
  font-size: 46px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.proff-escord-block .title h3 span {
  color: #4cf2a2;
}
.proff-escord-block .flex-wrapper {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.proff-escord-block .flex-wrapper__item {
  margin-top: 70px;
  flex: 0 0 48%;
}
.proff-escord-block .flex-wrapper__item img {
  width: 65px;
  height: 65px;
}
.proff-escord-block .flex-wrapper__item .text {
  font-size: 20px;
  font-weight: 400;
  font-family: "FuturaPT";
  color: #000;
  margin-top: 20px;
}

.price-info-block {
  margin-top: 75px;
  position: relative;
}
.price-info-block .title h3 {
  color: #000000;
  font-size: 46px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 700;
  text-align: start;
  margin: 0;
}
.price-info-block .title h3 span {
  color: #4cf2a2;
}
.price-info-block .flex-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.price-info-block .flex-wrapper__item {
  position: relative;
}
.price-info-block .flex-wrapper__item .img {
  position: absolute;
  right: -15%;
  top: 74%;
}
.price-info-block .flex-wrapper__item .img img {
  width: 140px;
  height: 260px;
}
.price-info-block .flex-wrapper__item .img1 {
  position: absolute;
  right: -26%;
  top: 75%;
}
.price-info-block .flex-wrapper__item .img1 img {
  width: 140px;
  height: 260px;
}
.price-info-block .flex-wrapper__item .subtitle-text {
  background-image: url("../img/price-info-block/gray.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 37px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 700;
  word-spacing: 15px;
  padding: 30px 95px 30px 30px;
}
.price-info-block .flex-wrapper__item .subtitle-text span {
  color: black;
}
.price-info-block .flex-wrapper__item .subtitle-text1 {
  background-image: url("../img/price-info-block/green.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 37px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 700;
  word-spacing: 15px;
  padding: 30px 30px 30px 95px;
}
.price-info-block .flex-wrapper__item .subtitle-text1 span {
  color: black;
}
.price-info-block .flex-wrapper__item .list {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
.price-info-block .flex-wrapper__item .list .gray {
  display: inline-block;
  margin-top: 11px;
  font-size: 19px;
  line-height: 1.55;
  font-weight: 400;
  font-family: "FuturaPT";
  color: #000;
}
.price-info-block .flex-wrapper__item .list .gray:before {
  content: "";
}
.price-info-block .flex-wrapper__item .list .green {
  display: inline-block;
  margin-left: 60px;
  margin-top: 11px;
  font-size: 19px;
  line-height: 1.55;
  font-weight: 400;
  font-family: "FuturaPT";
  color: #000;
}
.price-info-block .flex-wrapper__item .list .green:before {
  content: "";
}
.price-info-block .flex-wrapper__item .list .yellow {
  display: inline-block;
  margin-left: 60px;
  margin-top: 11px;
  font-size: 19px;
  line-height: 1.55;
  font-weight: 400;
  font-family: "FuturaPT";
  color: #000;
}
.price-info-block .flex-wrapper__item .list .yellow:before {
  content: "";
}

.Hohoro-info-block {
  width: 100%;
  margin-top: 80px;
  position: relative;
  height: 600px;
  display: flex;
}
.Hohoro-info-block .polygon {
  display: inline-block;
  position: absolute;
  width: 60%;
  -webkit-clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 66% 0, 100% 100%, 0% 100%);
  background-color: #4cf2a2;
  height: 100%;
}
.Hohoro-info-block .polygon .hohoro-machine {
  position: relative;
  height: 100%;
}
.Hohoro-info-block .polygon .hohoro-machine .title {
  color: #ffffff;
  font-size: 46px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 700;
  position: absolute;
  left: 35%;
  top: 4%;
}
.Hohoro-info-block .polygon .hohoro-machine .img {
  position: absolute;
  left: 46%;
  bottom: 7%;
}
.Hohoro-info-block .polygon .hohoro-machine .img img {
  width: 200px;
  height: 380px;
}
.Hohoro-info-block .instruction {
  position: relative;
  left: 50%;
  width: 45%;
}
.Hohoro-info-block .instruction__item1 {
  top: 10%;
  left: -2%;
  position: absolute;
  color: #242424;
  font-size: 27px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 600;
}
.Hohoro-info-block .instruction__item2 {
  top: 26%;
  left: 7%;
  position: absolute;
  color: #242424;
  font-size: 27px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 600;
}
.Hohoro-info-block .instruction__item3 {
  top: 43%;
  left: 15%;
  position: absolute;
  color: #242424;
  font-size: 27px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 600;
}
.Hohoro-info-block .instruction__item4 {
  top: 60%;
  left: 24%;
  position: absolute;
  color: #242424;
  font-size: 27px;
  font-family: "FuturaPT";
  line-height: 1.55;
  font-weight: 600;
}
.Hohoro-info-block .instruction span {
  letter-spacing: 10px;
  color: #4cf2a2;
  font-size: 46px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
}
.Hohoro-info-block .instruction .btn {
  position: absolute;
  top: 76%;
  left: 25%;
}
.Hohoro-info-block .instruction .btn button {
  width: 260px;
  height: 55px;
}

.achievement-block .sertificate {
  margin-top: 65px;
  text-align: center;
}
.achievement-block .sertificate img {
  width: 900px;
  height: 600px;
}
.achievement-block .line {
  width: 133px;
  height: 1px;
  background-color: black;
  margin: 35px auto 0 auto;
}
.achievement-block .title {
  margin-top: 46px;
}
.achievement-block .title h3 {
  color: #000000;
  font-size: 46px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
  text-align: center;
}
.achievement-block .title h3 span {
  color: #4cf2a2;
}
.achievement-block .diploma {
  margin-top: 140px;
  text-align: center;
}
.achievement-block .diploma img {
  width: 620px;
  height: 930px;
}
.achievement-block .subtext {
  max-width: 590px;
  margin: 0 auto;
  text-align: center;
  margin-top: 81px;
  font-size: 25px;
  font-weight: 400;
  font-family: "FuturaPT";
  line-height: 1.55;
}

.partners {
  padding: 100px 0;
}
.partners .title {
  text-align: center;
}
.partners .title h2 {
  margin-bottom: 125px;
  font-size: 52px;
  font-family: "FuturaPT";
  font-weight: 600;
  color: #000;
  line-height: 1.23;
}
.partners .title h2 span {
  color: #1bcf7b;
}
.partners-flex__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.partners-flex__wrapper .flex__item {
  width: 350px;
  height: 170px;
  text-align: center;
}
.partners-flex__wrapper .flex__item img {
  max-width: 350px;
  max-height: 140px;
}
.partners .btn {
  text-align: center;
}
.partners .btn button {
  padding: 0 60px;
  border-radius: 30px;
  height: 60px;
}

.accordion-simple-block h2 {
  font-size: 52px;
}
.accordion-simple-block h2 .green {
  color: #1bcf7b;
}
.accordion-simple-block .accordion-body .text {
  margin-left: 23px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.55;
  font-family: "FuturaPT", Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.footer {
  background-color: #01F2A1;
  padding: 20px 0;
}
.footer .flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .flex-wrapper__item .logo img {
  width: 230px;
  height: 50px;
}
.footer .flex-wrapper__item .contacts-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer .flex-wrapper__item .contacts-flex__item {
  color: #000000;
  font-size: 14px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
}
.footer .flex-wrapper__item .contacts-flex a {
  text-decoration: underline;
  color: #ff8562;
}
.footer .flex-wrapper__item .contacts-flex a .orange {
  color: #ff8562;
}
.footer .flex-wrapper__item .instagram-block {
  display: flex;
}
.footer .flex-wrapper__item .instagram-block img {
  width: 25px;
  height: 25px;
}
.footer .flex-wrapper__item .instagram-block .text {
  color: #000000;
  font-size: 16px;
  font-family: "FuturaPT", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
}