$x-color-green:#1bcf7b
$x-color-gray:#BDBDBD
$main-font:'FuturaPT-book',sans-serif

%button
  color: #171717
  background-color: #fcee21
  height: 40px
  font-size: 18px
  padding-left: 30px
  padding-right: 30px
  border-radius: 20px
  outline: none
  border: none
  font-weight: bold
  cursor: pointer


.container
  width: 1170px
  margin: 0 auto


body
  font-family: $main-font


.menu
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0 auto
  position: fixed
  background-color: white
  z-index: 10
  padding: 20px 0
  top: 0
  img
    width: 250px
    margin-left: 35px
    a
      text-decoration: none
  &-list
    display: flex
    justify-content: space-between
    margin: 0 -50px
    &__item
      margin: 0 20px
      color: #141414
      font-size: 19px
      font-weight: 600
  button
    @extend %button
    font-weight: bold
    border: none
    margin-right: 35px



.first-block
  overflow-x: hidden
  background-image: url("../img/first block/background.webp")
  background-repeat: no-repeat
  background-size: cover
  background-position: left 70%
  display: flex
  margin-top: 100px
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
  &__marketing
    //display: inline-block
    img
      width: 20px
      height: 20px
    h2
      color: $x-color-green
      font-size: 46px
      font-family: 'FuturaPT',Arial,sans-serif
      line-height: 1.1
      margin-bottom: 0
    .price
      margin-top: 15px
      color: #000000
      font-size: 23px
      font-family: 'FuturaPT',Arial,sans-serif
      font-weight: 700
      .green
        color: $x-color-green
        font-weight: 700
    .flex
      margin-top: 30px
      &-list
        vertical-align: center
        margin-top: 20px
        &__text
          color: #000000
          font-size: 18px
          font-family: $main-font
          line-height: 1.15
          font-weight: 400
          display: inline-block
        img
          margin-right: 8px
          display: inline-block
  &__img
    //display: inline-block

  button
    @extend %button
    margin-top: 30px
    color: #121212
    font-size: 18px
    font-family: 'FuturaPT',Arial,sans-serif
    line-height: 1.45
    font-weight: 600
    border-radius: 100px
    background-color: #fcee21
    border-color: transparent
    width: 280px
    height: 75px

    transition-duration: 1s
    &:hover
      background-color: #d6ba2f
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out
  &__img
    img
      width: 800px
      height: 600px

.business-block
  background-image: url("../img/second block/background.webp")
  background-repeat: no-repeat
  background-size: cover
  background-position: left 1%
  &-advantages
    padding-top: 120px
    text-align: center
    h2
      margin-top: 0
      color: #000000
      font-size: 44px
      font-family: 'FuturaPT',Arial,sans-serif
      line-height: 1.5
      font-weight: 700
    .subtitle
      margin-top: 50px
      color: #000000
      font-size: 22px
      font-family: 'FuturaPT',Arial,sans-serif
      line-height: 1.15
      font-weight: 400
    .flex-wrapper
      margin-top: 110px
      display:  flex
      justify-content: space-between
      align-items: start
      text-align: start

      &__item
        width: 400px
        img
          width: 55px
          height: 55px
        h3
          color: #000000
          font-size: 23px
          font-family: 'FuturaPT',Arial,sans-serif
          line-height: 1.55
          font-weight: 700
          margin-top: 40px
        .descr
          color: #000000
          font-size: 18px
          font-family: 'FuturaPT',Arial,sans-serif
          line-height: 1.55
          font-weight: 400
        button
          @extend %button
          width: 270px
          height: 60px
          border-radius: 100px
    .second-row
      margin-top: 80px
.third-block
  margin-top: 190px

.pattern
  span
    color: $x-color-green
  .main-title
    text-align: center
    font-size: 46px
    font-family: 'FuturaPT'
    font-weight: 600
    color: #000
    line-height: 1.23

  .main-flex-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    &__item
      img
        width: 470px
        height: 340px
      h3
        font-weight: 600
        color: #000
        line-height: 1.35
        font-size: 30px
        font-family: 'FuturaPT'
        margin-bottom: 0
        margin-top: 20px
      ul
        margin-top: 30px
        padding: 0
        li
          font-weight: 300
          color: #000
          line-height: 1.55
          font-size: 20px
          font-family: 'FuturaPT'
          margin-top: 5px

.video-block
  background-color: #4CF2A2
  padding: 120px 0
  .wrapper
    text-align: center
    h3
      font-size: 52px
      font-family: FuturaPT
      font-weight: 600
      color: #000
      margin-bottom: 0
      margin-top: 0
    .subtitle
      font-weight: 700
      font-size: 23px
      font-weight: 700
      margin-top: 20px
      margin-bottom: 55px
    button
      @extend   %button
      display: block
      margin: 55px auto 0 auto
      font-size: 16px
      height: 60px
      border-radius: 40px
      padding-left: 60px
      padding-right: 60px
      font-weight: 800
      font-family: 'FuturaPT'



.founder-block
  margin-top: 120px
  .pattern
    .main-flex-wrapper
      margin-top: 80px
    h2
      font-size: 52px
      font-family: 'FuturaPT'
      line-height: 1.23
      font-weight: 700
    img
      width: 470px
      height: 470px
    button
      @extend %button
      text-align: start
      margin-left: -20px
.accordion-block
  margin-top: 140px
  margin-bottom: 100px
  h2
    text-align: center
    margin-bottom: 80px
    font-family: 'FuturaPT',Arial,sans-serif
    font-weight: 600
    color: #000
    line-height: 1.23
  .accordion-wrapper
    .wrapper
      width: 100%
      height: 100%
      display: flex
      justify-content: space-between
      align-items: center
      .town
        margin-left: 20px
        font-size: 24px
        line-height: 1.35
        font-family: 'FuturaPT',Arial,sans-serif
        font-weight: bold
        color: #000
      .circle
        width: 40px
        height: 40px
        border-radius: 50%
        background-color: $x-color-green
        position: relative
        .active
          color: #fcee21
    .accordion-section
      margin-top: 3px
      .accordion-header
        cursor: pointer
        height: 80px
        background-color: #f2f2f2
        &:hover
          background-color: #cbc9c9
          transition: all 500ms ease
      .accordion-body
        max-height: 0
        overflow: hidden
        transition:  all .4s ease .4s
        transition-delay: 0s
        background-color: #f2f2f2
        ul
          li
            margin-top: 5px
            font-size: 16px
            line-height: 1.55
            font-family: 'FuturaPT',Arial,sans-serif
            font-weight: 300
            color: #000

.help-start-block
  background-color: #F0F0F0
  padding: 80px 0
  .title
    h2
      font-size: 42px
      line-height: 1.23
      font-weight: 600
      color: #000
      text-align: center
      span
        color: rgb(76, 242, 162)
  .flex-wrapper
    display: flex
    flex-wrap: wrap
    &__item
      margin-top: 60px
      text-align: start
      flex: 0 0 50%
      img
        width: 55px
        height: 55px
      h3
        font-size: 23px
        font-family: 'FuturaPT'
        line-height: 1.35
        font-weight: 600
        color: #000
      .text
        font-size: 16px
        font-family: 'FuturaPT'
        line-height: 1.55
        font-weight: 300
        color: #000

.coffee-machines-block
  padding: 70px 0
  background-color: #4CF2A2
  .title
    h2
      color: #000000
      font-size: 46px
      font-family: 'FuturaPT',Arial,sans-serif
      line-height: 1.55
      font-weight: 700
      text-align: center
  .flex-wrapper
    margin-top: 40px
    display: flex
    justify-content: space-between
    &__item
      width: 300px
      .text
        margin-top: 30px
        color: #000000
        font-size: 20px
        font-family: 'FuturaPT',Arial,sans-serif
        line-height: 1.55
        font-weight: 400
      span
        font-weight: 700
      img
        width: 230px
        height: 400px
        text-align: center

.partners
  padding: 100px 0
  .title
    text-align: center
    h2
      margin-bottom: 125px
      font-size: 52px
      font-family: 'FuturaPT'
      font-weight: 600
      color: #000
      line-height: 1.23
      span
        color: $x-color-green
  &-flex__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    .flex__item
      width: 350px
      height: 170px
      text-align: center
      img
        max-width: 350px
        max-height: 140px
  .btn
    text-align: center
    button
      @extend %button
      padding: 0 60px
      border-radius: 30px
      height: 60px
.accordion-simple-block
  h2
    font-size: 52px
    .green
      color: $x-color-green
  .accordion-body
    .text
      margin-left: 23px
      margin-top: 40px
      margin-bottom: 30px
      margin-top: 40px
      font-size: 16px
      line-height: 1.55
      font-family: 'FuturaPT',Arial,sans-serif
      font-weight: 300
      color: #000

.footer
  background-color: #01F2A1
  padding: 20px 0
  .flex-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    &__item
      .logo
        img
          width: 230px
          height: 50px
      .contacts-flex
        display: flex
        flex-direction: column
        text-align: center
        &__item
          color: #000000
          font-size: 14px
          font-family: 'FuturaPT',Arial,sans-serif
          line-height: 1.55
          font-weight: 700
        a
          text-decoration: underline
          color: #ff8562
          .orange
            color: #ff8562
      .instagram-block
        display: flex
        img
          width: 25px
          height: 25px
        .text
          color: #000000
          font-size: 16px
          font-family: 'FuturaPT',Arial,sans-serif
          line-height: 1.55
          font-weight: 600

